<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Leaders Page</title>
</head>
<body>

<div class="container">

    <h2>Leaders Page</h2>

    <hr>

    <p>Welcome to the leaders home page</p>

    <hr>

    <p>See you in Greece!</p>

    <hr>

    <a th:href="@{/}">Back to Home Page</a>

    <hr>

</div>

</body>
</html>