<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Hello World - Input Form</title>
</head>
<body>
    <!--<form th:action="@{/processForm}" method="GET">
        <input type="text" name="studentName" placeholder="What is your name ?"/>
        <input type="submit"/>
    </form>-->
    <!--<form th:action="@{/processFormVersionTwo}" method="GET">
        <input type="text" name="studentName" placeholder="What is your name ?"/>
        <input type="submit"/>
    </form>-->
    <form th:action="@{/processFormVersionThree}" method="post">
        <input type="text" name="studentName" placeholder="What is your name ?"/>
        <input type="submit"/>
    </form>
</body>
</html>